<h1> Veicoli Disponibili</h1>


<table id="vehicles" border="1" class="table table-striped table-bordered table-sm">
  <thead>
      <tr>
        <th class ="th-sm">id</th>
        <th class="th-sm">Brand</th>
        <th class="th-sm">Model</th>
        <th class="th-sm">Plate</th>
        <th class="th-sm">Immatricolation Date</th>

      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>
        {{vehicle.id}}
      </td>
      <td>
        {{vehicle.brand}}
      </td>
      <td>
        {{vehicle.model}}
      </td>
      <td>
        {{vehicle.plate}}
      </td>
      <td>
        {{vehicle.immdate | date}}
      </td>


    </tr>


  </tbody>


</table>
