
<div class="row h-100">
  <div class="container">
    <div class="mat-elevation-z8 h-100">
      <div class="input-group container-fluid">
        <input class="input-group" type="text" [(ngModel)]="searchText" placeholder="Ricerca nella colonna" style="width: auto">
        <select class="custom-select" [(ngModel)]="column"  style="width: auto" >
          <option value="" selected disabled hidden>Choose here</option>
          <option *ngFor="let col of search.columns"  >
            {{col}}
          </option>
        </select>
      </div>





      <table mat-table matSort (matSortChange)="onClick($event)" id="table" border="1" class="table table-striped table-bordered table-sm mh-100" matSortActive="{{order.defaultColumn}}" matSortDirection="{{order.orderType}}">
        <thead>
        <tr>
          <th *ngIf="reusableButton!=null">
            Prenota
          </th>
          <th mat-sort-header="{{key.label}}" *ngFor="let key of colData.headers">{{key.label}}</th>
          <th>
            New
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>

        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let record of rowData | search : searchText : column | pagination: pagination.itemPerPage : currentPage :pages">
          <app-button class="buttontab" *ngIf="reusableButton!=null" [buttonConfig]="{'customCssClass':'','text':[reusableButton],'icon':'control_point'}" (notify)="setTableAction($event, record)" ></app-button>

          <td *ngFor="let col of colData.headers">

            <span>
              {{getNestedObject(record, col.key)}}
            </span>




          </td>
          <td *ngFor="let action of tableAction">

            <app-button class="buttontab" *ngIf="action=='NEW_ROW'" [buttonConfig]="{'customCssClass':'','text':action,'icon':'control_point'}"  (notify)="setTableAction($event, null)"></app-button>

            <app-button class="buttontab" *ngIf="action!='NEW_ROW'" [buttonConfig]="{'customCssClass':'','text':action,'icon':'control_point'}" (notify)="setTableAction($event, record)"></app-button>
          </td>

        </tr>


        </tbody>

      </table>


      <div class="container">
        <div class="text-center">
          <label ngDefaultControl  [(ngModel)]="pagination.itemPerPage">Scegli il numero di elementi per pagina da visualizzare:</label>

          <select  ngDefaultControl [(ngModel)]="pagination.itemPerPage" (ngModelChange)="refreshPages()" >
            <option *ngFor="let item of pagination.itemPerPageOptions" >{{item}}</option>
          </select>

          <!-- pager -->
          <ul class="pagination">
            <li class="page-item" *ngIf="pages>1">
              <a class="page-link" (click)="setCurrentPage(1)">First</a>
            </li>

            <li class="page-item disabled">
              <a class="page-link " *ngIf="currentPage==1" disabled (click)="setCurrentPage(currentPage - 1)">Previous</a>

            </li>
            <li class="page-item">
              <a class="page-link " *ngIf="currentPage>1"  (click)="setCurrentPage(currentPage - 1)">Previous</a>
            </li>

            <li class="page-item" *ngIf="pages>2 && currentPage<pages">
              <a class="page-link" (click)="setCurrentPage(currentPage+1)">{{currentPage+1}}</a>
            </li>
            <li class="page-item" *ngIf="pages>2 && currentPage<pages-1">
            <a class="page-link" (click)="setCurrentPage(currentPage+2)">{{currentPage+2}}</a>
            </li>
            <li class="page-item"  *ngIf="pages>1 && currentPage<pages">
              <a class="page-link" (click)="setCurrentPage(currentPage + 1)">Next</a>
            </li>
            <li class="page-item  disabled" >
              <a class="page-link" *ngIf="currentPage>1 && currentPage==pages"  (click)="setCurrentPage(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" *ngIf="pages>1">
              <a class="page-link" (click)="setCurrentPage(pages)">Last</a>
            </li>
          </ul>
        </div>
      </div>

    </div>


  </div>


</div>




