
<div class="mat-elevation-z8">


<table mat-table matSort (matSortChange)="onClick($event)" id="vehicles" border="1" class="table table-striped table-bordered table-sm" matSortActive="{{order.defaultColumn}}" matSortDirection="{{order.orderType}}">
  <thead>
  <tr>
   <th mat-sort-header="{{key.label}}" *ngFor="let key of colData.headers">{{key.label}}</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let record of rowData">

    <td *ngFor="let col of colData.headers">
      <span>{{record[col.key]}}</span>
    </td>



  </tr>


  </tbody>

</table>
<mat-paginator  [length]="pagination.itemPerPage" [pageSizeOptions]="pagination.itemPerPageOptions" showFirstLastButtons></mat-paginator>
</div>
