

<div class="align-content-center">
    <h1 style="text-align:center">Benvenuto in Anuglar Car Rent</h1>
    <h3 *ngIf="Auth.getCurrentUser()">Il tuo nome è: {{userName}}</h3>
</div>
{{Auth.getCurrentUser()}}
<div class="container form-control mat-elevation-z8 col-sm-6" *ngIf="!Auth.getCurrentUser()" style="text-align: center">

  <h3>Effettua il Login</h3>

    <div class="form-group" >
      <label>Inserisci l'Username</label>
      <input type="text" id="userName" placeholder="Username" [(ngModel)]="userName" class="form-control" style="text-align: center" >

    </div>

    <div class="form-group" >
      <label>Inserisci la Password</label>
      <input type="password" id="password" placeholder="Password" [(ngModel)]="password" class="form-control" style="text-align: center">

    </div>
    <div>

      <p class="alert-danger" *ngIf='!auth'>  {{msg}} </p>

    </div>
    <app-button [buttonConfig]="{'customCssClass':'','text':'Login','icon':'home'}" (notify)="gestAuth()"></app-button>
    <!--<button class="btn btn-primary"  (click)="gestAuth()">Login</button>-->



</div>
<br>
<br>






<!--
<br>
<br>

<p>
  Il tuo userName è {{userName}} e la tua password è {{password}}
</p>

-->

