
<div class="container" *ngIf="isShow&&router!='reservations'" >
  <h3 > Le mie prenotazioni </h3>
  <app-table [colData]="{'headers':reservationHeaderData}" (action)="eventHandler($event)" [id]="'ricerca'" [rowData]="userRowData" [customKeys]="[{key:'vehicle', child:'plate'},{key:'user', child:'userName'}]" (notify)="sortRowData($event, 'userRowData')"  [order]="{'defaultColumn':'Id', 'orderType':'desc'}" [pagination]="{'itemPerPage':5, 'itemPerPageOptions':[5,10,20]}" [search]="{columns:['id','dataInizio', 'dataFine', 'vehicle', 'user']}"   ></app-table>

</div>
<br/>
<div class="container" *ngIf="isShow&&router!='reservations'&&role=='superuser'" >
  <h3> Prenotazioni degli utenti </h3>
  <app-table [colData]="{'headers':reservationHeaderData}" (action)="eventHandler($event)" [id]="'ricerca'" [rowData]="rowData" [customKeys]="[{key:'vehicle', child:'plate'},{key:'user', child:'userName'}]"  (notify)="sortRowData($event, 'rowData')" [order]="{'defaultColumn':'Id', 'orderType':'desc'}" [pagination]="{'itemPerPage':5, 'itemPerPageOptions':[5,10,20]}" [search]="{columns:['id','dataInizio', 'dataFine', 'vehicle', 'user']}"   ></app-table>

</div>


<div class="container form-control mat-elevation-z8 col-sm-6" style="text-align: center" *ngIf="!isShow">

  <h3>Inserisci le date della prenotazione</h3>

  <div class="form-group" >
    <label>Inserisci la data di inizio</label>
    <input type="date" id="dataInizio" placeholder="dataInizio" [(ngModel)]="dataInizio"  name="dataInizio" class="form-control" style="text-align: center" >

  </div>

  <div class="form-group" >
    <label>Inserisci la data di fine</label>
    <input type="date" id="dataFine" placeholder="dataFine" [(ngModel)]="dataFine"  name="dataFine" class="form-control" style="text-align: center">

  </div>
  <div>

    <p *ngIf="msg!=''" class="alert-success">{{msg}}</p>


  </div>
  <app-button [buttonConfig]="{'customCssClass':'','text':'Mostra i veicoli disponibili','icon':'directions_car'}" (notify)="listVehicles($event)"></app-button>
  <!--<button class="btn btn-primary"  (click)="gestAuth()">Login</button>-->



</div>


  <app-vehicles *ngIf="reserving==true"  [reservation]="reservation"></app-vehicles>


