



<div class="container-fluid form-control mat-elevation-z8" *ngIf="!Auth.isLogged()" style="text-align: center">
<div class="row">

  <div class="col-sm-12" >

    <div class="form-group" style="align-content: center">

      <input type="text" id="userName" placeholder="Username" [(ngModel)]="userName" class="form-control" style="text-align: center" >

    </div>
    <div class="form-group" style="text-align: center">
      <input type="password" id="password" placeholder="Password" [(ngModel)]="password" class="form-control" style="text-align: center">

    </div>
    <div>

      <p class="alert-danger" *ngIf='!auth'>  {{msg}} </p>

    </div>
    <app-button [buttonConfig]="{'customCssClass':'','text':'login','icon':'home'}" (notify)="gestAuth()"></app-button>
    <!--<button class="btn btn-primary"  (click)="gestAuth()">Login</button>-->


  </div>
</div>



</div>
<br>
<br>






<!--
<br>
<br>

<p>
  Il tuo userName è {{userName}} e la tua password è {{password}}
</p>

-->

